.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 360px;
}

.lb {
  font-weight: bold;
  color: #333;
}

.in1, .input1, select {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input.in1:focus, input.input1:focus, select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

span {
  color: red;
  font-size: 12px;
}

select {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .main {
      width: 100%;
      padding: 15px;
  }
}
